.experience {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-bottom: 50px;
  text-align: center;
  align-items: center;
  background-color: #fcf9f9;
}

.experience__section__title {
  width: 100%;
  margin-top: 60px;
  font-size: 25px;
  font-weight: bold;
}

.experience__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  gap: 20px;
  padding: 20px;
  border: 2px solid rgb(224, 223, 223);
  border-radius: 15px;
  margin: 20px;
  transition: all 0.3s ease;
}

.experience__box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.experience__img {
  border: 2px solid rgb(206, 229, 250);
  width: 100%;
  height: 200px;
  border-radius: 15px;
  
}

.experience__description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.experience__botao--repo,
.experience__botao--demo {
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px;
}

.experience__botao--demo {
  background-color: #007bff;
  border: 2px solid #007bff;
}

.experience__botao--repo:hover,
.experience__botao--demo:hover {
  background-color: #45a049;
  border-color: #45a049;
}

.experience__botao--repo {
  background-color: white;
  border: 2px solid rgb(80, 113, 233);
  color: black;
}

.experience__title {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 15px;
}

.experience__text {
  margin: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}



@media (max-width: 768px) {
  .experience__box {
      max-width: 200px;
      height: 300px;
  }
}
